<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Spline+Sans%3Awght%40400%3B500%3B700"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: "Spline Sans", "Noto Sans", sans-serif;'>
      <div class="layout-container flex flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f1f2f4] px-10 py-3">
          <div class="flex items-center gap-8">
            <div class="flex items-center gap-4 text-[#121417]">
              <div class="size-4">
                <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M24 45.8096C19.6865 45.8096 15.4698 44.5305 11.8832 42.134C8.29667 39.7376 5.50128 36.3314 3.85056 32.3462C2.19985 28.361 1.76794 23.9758 2.60947 19.7452C3.451 15.5145 5.52816 11.6284 8.57829 8.5783C11.6284 5.52817 15.5145 3.45101 19.7452 2.60948C23.9758 1.76795 28.361 2.19986 32.3462 3.85057C36.3314 5.50129 39.7376 8.29668 42.134 11.8833C44.5305 15.4698 45.8096 19.6865 45.8096 24L24 24L24 45.8096Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
              <h2 class="text-[#121417] text-lg font-bold leading-tight tracking-[-0.015em]">SkillSwap-Hub</h2>
            </div>
          </div>
          <div class="flex flex-1 justify-end gap-8 mr-5">
            <div class="flex items-center gap-9">
              <a class="text-[#121417] text-sm font-medium leading-normal" href="/users/home">Home</a>
              <a class="text-[#121417] text-sm font-medium leading-normal" href="#">Explore</a>
              <a class="text-[#121417] text-sm font-medium leading-normal" href="/users/course">Create</a>
              <a class="text-[#121417] text-sm font-medium leading-normal" href="#">My Courses</a>
            </div>
          </div>
            <div
              class="relative bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10 border-2"
              style='background-image: url("<%= user.profileImage %>");'
            ></div>
          </div>
        </header>
    
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">

            <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-[#121417] tracking-light text-[32px] font-bold leading-tight min-w-72">My Courses</p>
            </div>

            <%if(courses.length > 0) { %>
            <%courses.forEach((course)=> {   %>
            <div class="p-4 m-3">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#121417] text-base font-bold leading-tight"><%= course.title %></p>
                    <p class="text-[#677283] text-sm font-normal leading-normal">
                      Price: $<%=course.price%> | Duration: <%=course.duration%> weeks | Instructor: <%= user.name%>| Skills offered: <%=  course.skillsOffered &&  course.skillsOffered.join(", ") %> | About: <%= course.about %>
                    </p>
                  </div>
                  <a
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 flex-row-reverse bg-[#f1f2f4] text-[#121417] pr-2 gap-1 text-sm font-medium leading-normal w-fit" href="/users/myCourse/<%= course._id %>"
                  >
                    <div class="text-[#121417]" data-icon="PencilSimple" data-size="18px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M227.31,73.37,182.63,28.68a16,16,0,0,0-22.63,0L36.69,152A15.86,15.86,0,0,0,32,163.31V208a16,16,0,0,0,16,16H92.69A15.86,15.86,0,0,0,104,219.31L227.31,96a16,16,0,0,0,0-22.63ZM92.69,208H48V163.31l88-88L180.69,120ZM192,108.68,147.31,64l24-24L216,84.68Z"
                        ></path>
                      </svg>
                    </div>
                    Edit
                </a>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("/images/uploads/<%= course.courseImage %>");'
                ></div>
              </div>
            </div>
            <% })%>
            <% }  else {%>
                <h3 class="text-zinc-500">no courses yet...</h3>
            <% } %>

          </div>
        </div>
    </div>
    </div>
  </body>
</html>
